/*
estilo1-v2.4.css - 
*/
/* 
    Created on : 05/11/2020, 11:03:27
    Author     : Rodrigo Brittes
*/


*{ /* Para aplicar para todas as tags, usar asterisco */
        box-sizing: border-box;
        margin:0; /*tirou todas as margens */
	padding:0;
}

/* parece não estar funcionando com o boostrap */
a{
	color:#000000; 
	font-family:verdana;
	font-size:14pt;
	font-weight:bold; /* negrito */
	margin-right:25px;
	text-decoration: none; /* retirar sublinhado */
}
a:hover{
	color:blue;
        text-decoration:none; /* retirar sublinhado - não está funcionando com o boostrap */
}



/* Figuras do cabeçalho */
#cab_esq{
        background-color: white;
	/* background-color: RGB(200, 210, 220); */
        
        display: inline-block;
	height: 150px;      /* estava 160px */
        object-fit: contain;        
        padding-top:10px;
        padding-left:15px;
	width:30%; 
 
}

/* Cabeçalho direito: ícones */
#cab_dir{
        background-color: white;
        /* background-color: RGB(240,230,230); */
        
        float: right;
	height: 150px;
        padding-left:10px;        
        padding-top:60px; 
        object-fit: contain;
        width:57%;
        word-spacing:110px;
}


/* Menu de navegação sob os ícones */
/* Regra pelo atributo id do html */
#navegar{
	/* margin-right:50px; */
	/*background-color: #e8e6e6; */
	/* line-height:30px; /* alinha o texto na vertical */        
	background-color: whitesmoke;   /* tirar esse fundo depois */
	width:100%; 
	height:30px;
	text-align:right;
	word-spacing:30px;  /* adiciona espaço entre as palavras - era 40px */

}

/* Barra colorida */
#barra{
	width:100%; 
	height: 10px;
	float: left; 
	background-color: gold;	
        background-image: linear-gradient(to right, dodgerblue,dodgerblue, gold,gold,gold,gold,gold,gold, red,red);
}




/* Corpo da página */
#main{
	/* width:58%; 
	float: left; */
        /* background-color: whitesmoke;
        background-image: url('web3-triangles-background.jpg'); 
        background-repeat: no-repeat;
        float: center; 
        height: 100%;
        width: auto; */
        
        
        background-image: url('../src/img/web3-triangles-vertical-background.jpg'); 
        background-position: center;
        background-repeat: repeat-x; 
        /* background-origin: content-box; */
        font-family:verdana;
        height: 95%;
	line-height:30px; /* alinha o texto na vertical */
	padding-left: 15px;
        width: auto;
	
}

/* Divs p/ organizar formulários */
#div1{
    /* float: center; */
    margin-left:20%; /* margem externa */
    
}
#div2{
    /* float: center; */
    margin-left:20%; /* margem externa */
    
}
#div3{
    /* float: center; */
    margin-left:20%; /* margem externa */
    
}





/* CLASSES */
/* Regra pelo atributo class do html */ /* Quando vai aplicar o mesmo estilo em vários pontos */
/* Não lembro onde é isso */
.opcoes{
	margin-left:0px; /* margem externa */
	padding-left:40px; /*margem interna*/
	padding-right:10px;
}

/* Título do corpo da página */
.titulo{
	background: orange;
        border-radius: 10px;
	color: white; /* cor da letra */        
                
	font-family: verdana;
	font-size: 16pt;
        font-weight: bold;
        height: 8%;
        /* li {display: inline;} */
        line-height:55px; /* alinha o texto na vertical */
	margin-left: 2px; /* margem externa */ 
        margin-top:20px;
        margin-bottom:20px;
	padding-left:40px;
        width: 70%;
}


/*
.topnav{
       
    ul.topnav {
        list-style-type: none;
        overflow: hidden;
        background-color: #333;
    }
    ul.topnav li {float:left;}
    /* li.right {float: right;} */
/*    ul.topnav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    ul.topnav li a:hover:not(.active) {background-color: #111;}
    ul.topnav li a.active {background-color: #4CAF50;}
    ul.topnav li.right {float: right;} 
    /*@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    
}
*/


